.space {
  min-width: min(5vw, 5vh);
  min-height: min(5vw, 5vh);
  max-width: min(5vw, 5vh);
  max-height: min(5vw, 5vh);
}

.seat{
  border: 1px solid black;
}

.reserved{
  background-color: #555;
}

.selected{
  background-color: darkorange;
}

.seat:not(.reserved):not(.selected):not(.info):hover{
  cursor: pointer;
  background-color: rgba(255,140,0, 0.5);
}

.selected:not(.info):hover{
  cursor: pointer;
}

.infoText{
  margin: min(2vh, 2vw);
  font-size: min(1.75vh, 1.75vw);
}